
/* 
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px */
@media (min-width:992px){
    nav .logo{
         margin-right: 190px;
    }

 }
@media (max-width:1200) {
    
}


@media (max-width:992px) {

     nav{
          ul{
             li{
                &:first-child{
                   &::after{
                      left: -2px;
                      width:3%;
                   }
                   &:hover::after{
                      width: 0px !important;
                  }
                }
    
                a{
                    &::after{
                   left: -2px;
                   width:0%;
                   
               }
               &:hover::after{
                   width: 10%;
               }
               }
    
             }
          }
        }
    
    
}


@media (max-width:786px) {
  
}


@media (max-width:567px ) {
   .text{
      font-size: 3rem !important;
      font-weight: 400;
      
      

          .bold{
              font-weight: 600;
          }
          .business{
              position: relative;

              &::after{
                  position: absolute;
                  content: '';
                  width:  70%;
                  height:20px;
                  left:5px;
                  bottom: -1;
                  z-index: -1;
                  background-color: var(--secondary-color);
              }
          }
      }
       
    
}






