@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        background-color: black;
}
.container{
    max-width: 1200px;
    margin: 0 auto; 
    
}
.btn{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.header-section{

    height: 751px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
 
    
    .nav{

        margin-top: 20px;
        display:flex;
        justify-content: space-between;
        align-items: center;

        .title{
            color: rgb(230, 83, 60);
            font-size: 2.25rem;
    /* font-size: 36px; */
           font-weight: 800;
    font-style: italic;
        }
        .list{
             width: 50%;
             display: flex;
             justify-content: space-between;
             align-items: center;
             padding: 5px;
             border: 0.25px solid gray;
             border-radius: 50px;
         li{
            
            
            a{
                list-style: none;
                color: white;
                padding: 10px;
                text-decoration: none;
            }
            .home{
              padding: 14px 40px ;
              border-radius: 50px; 
              background-color: red;
              color: white;
              font-weight: 600;     
            }
         }
           
        }
    }
}

.header-section{
    .hero-section{

        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        color:white;
        display: flex;

        .left-div{
            width: 50%;
            margin-top: 40px;
          
            h1{
                font-size:5rem;

                span{
                    font-style: italic;
                }
            }
            p{
                margin-top: 30px;
                font-family: "Inter", sans-serif;
            }.btn-handle{
                  
                margin-top: 60px;
                .btn-hero1{
                    width: 40%;
                 
                    
                    padding: 15px 70px;
                    border-radius: 20px;
                    background-color: red;
                    text-align: center;
                    font-weight: 400;
                }.btn-hero-2{
                    width: 40%;
                    margin-top: 40px;
                    padding: 15px 70px;
                    border-radius: 20px;
                  
                    text-align: center;
                    
                }
            }
            

        }.right-div{
            width: 349px;
            height: 580px;
            margin: 0 auto; 
           
         
        .img-div{
            .grid-image{
               position:absolute;
            }
            
        }
        .sub500{

            width: 180px;
            height: 100px;
            position: relative;
            left:250px;
            top: 120px;
            border-radius: 10px;
            padding: 10px;
            background-color: gray;
            h1{
                font-size:2rem;
                font-weight: 600px;
            }
        }
        .sub300{
            width: 180px;
            height: 100px;
            display: flex;
            align-items: center; 
            position: relative;
            top:340px;
            left:-60px;
            border-radius: 10px;
            padding: 10px;
            background-color: gray;
            .circle{
              .dot{
                height: 25px;
                width: 25px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                background-color:red;
              }
 
            }
            .sub-300-text{
               
            }
        }
        

        }

    }   

}


